/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #FFFF;
    color: #333;
    
  }
  
  /* Container styles */
  .container {
    max-width: 800px;
    margin: 0 auto;
    
    padding: 40px;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    
     margin-top: 123px;
     
     display: block;
  }


  /* Media query for mobile devices */
@media (max-width: 767px) {
  /* Styles for mobile devices */
  .container{
    font-size: 23px;
  }
}
  
  /* Heading styles */
  h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    align-self: flex-start;
    justify-content:end;

  }
  
  /* Label and textarea styles */
  label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    display:block;
    float: left;
  }
  
  textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-bottom: 20px;
  }
  
  /* Result styles */
  #result {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  